[submodule "thirdparty/labs"]
	path = thirdparty/labs
	url = git@github.com:cs-pub-ro/RL-linux-labs.git
	branch = master
[submodule "framework"]
	path = framework
	url = git@github.com:cs-pub-ro/labvm-framework.git
